<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="panda" >

  <!-- panda arm -->
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <!-- for simulation -->
  <xacro:include filename="$(find panda_table_description)/urdf/panda_vel.transmission.xacro"/>
  <xacro:include filename="$(find panda_table_description)/urdf/panda_table_ramp.gazebo.xacro"/>
  <!--xacro:include filename="$(find panda_table_description)/urdf/table.urdf.xacro"/-->
  <!-- end for simulation -->

  <xacro:panda_arm connected_to="mount_flange_link" xyz="0.0 0.0 0.0" rpy="0 0 ${pi}" />
  <xacro:if value="$(arg load_gripper)">
     <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
  </xacro:if>
  <xacro:unless value="$(arg load_gripper)">
   <link name="tool">
     <inertial>
       <mass value="0.642"/>
       <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
       <origin/>
     </inertial>
     <visual>
       <origin xyz="0 0 -0.15" rpy="0 0 0" />
       <geometry>
         <cylinder radius="0.0085" length="0.3" />
       </geometry>
       <material name="orange"/>
     </visual>
     <collision name="tool_collision">
       <origin xyz="0 0 -0.15" rpy="0 0 0" />
       <geometry>
         <cylinder radius="0.0085" length="0.3" />
       </geometry>
     </collision>
   </link>

     <joint name="tool_joint" type="fixed">
       <parent link="panda_link8" />
       <child link = "tool" />
       <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0" />
     </joint>

  </xacro:unless>

  <!-- for simulation -->
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:panda_table_gazebo robot_name="$(arg robot_name)" load_gripper="$(arg load_gripper)" />
  <xacro:panda_transmission robot_name="$(arg robot_name)" load_gripper="$(arg load_gripper)" />
  <!-- end for simulation -->

  <link name="world" />

  <link name="table">
    <inertial>
      <mass value="200.0"/>
      <inertia ixx="10.0" ixy="0" ixz="0" iyy="10.0" iyz="0" izz="10.0" />
      <origin/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.0 1.11 0.7" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.35" />
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.11 0.7" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.35" />
    </collision>
  </link>

  <link name="ramp">
    <inertial>
      <mass value="50.0"/>
      <inertia ixx="2.5" ixy="0" ixz="0" iyy="2.5" iyz="0" izz="2.5" />
      <origin/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.25 0.2775 0.175" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </visual>
    <collision>
      <geometry>
        <box size="0.25 0.2775 0.175" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>

  <link name="ramp_base">
    <inertial>
      <mass value="50.0"/>
      <inertia ixx="2.5" ixy="0" ixz="0" iyy="2.5" iyz="0" izz="2.5" />
      <origin/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.2775 0.2775 0.2" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </visual>
    <collision>
      <geometry>
        <box size="0.2775 0.2775 0.2" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
  </link>

  <link name="mount_flange_link">
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      <origin/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.15 0.005" />
      </geometry>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_joint" type="fixed">
    <parent link="table" />
    <child link = "mount_flange_link" />
    <origin xyz="0.0 0.425 0.7" rpy="0.0 0.0 1.5707" />
  </joint>

  <joint name="table_ramp_joint" type="fixed">
    <parent link="table" />
    <child link = "ramp" />
    <origin xyz="0.2 -0.20 0.7" rpy="0.0 0.62 1.5708" />
  </joint>

  <joint name="table_ramp_base_joint" type="fixed">
    <parent link="table" />
    <child link = "ramp_base" />
    <origin xyz="0.2 -0.3899 0.74395" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
